[submodule "terraform"]
  path = terraform
  url = https://github.com/kajande/terraform.git
  branch = odoo

[submodule "ansible"]
  path = ansible
  url = https://github.com/kajande/ansible.git
  branch = odoo

[submodule "addons/oca/rest-framework"]
  path = addons/oca/rest-framework
  url = https://github.com/OCA/rest-framework.git

[submodule "addons/oca/web-api"]
  path = addons/oca/web-api
  url = https://github.com/OCA/web-api.git
[submodule "addons/x"]
	path = addons/x
	url = https://github.com/kajande/x.git
[submodule "addons/setup_odoo"]
	path = addons/setup_odoo
	url = https://github.com/kajande/setup_odoo.git
[submodule "addons/oca/dms"]
	path = addons/oca/dms
	url = https://github.com/OCA/dms.git
[submodule "addons/social_api"]
	path = addons/social_api
	url = https://github.com/kajande/social_api.git
