[submodule "terraform"]
  path = terraform
  url = https://github.com/kajande/terraform.git

[submodule "ansible"]
  path = ansible
  url = https://github.com/kajande/ansible.git

[submodule "addons/oca/rest-framework"]
  path = addons/oca/rest-framework
  url = https://github.com/OCA/rest-framework.git

[submodule "addons/oca/web-api"]
  path = addons/oca/web-api
  url = https://github.com/OCA/web-api.git
[submodule "addons/autodoo"]
	path = addons/autodoo
	url = https://github.com/kajande/autodoo.git
[submodule "addons/x"]
	path = addons/x
	url = https://github.com/kajande/x.git
[submodule "addons/social_media"]
	path = addons/social_media
	url = https://github.com/kajande/social_media.git
