ipdb
fastapi>=0.110.0
uvicorn
python-multipart
ujson
a2wsgi>=1.10.6
parse-accept-language
packaging
aiohttp
ipython
langchain_openai
langchain-community
langgraph==0.3.25
langgraph-checkpoint
langgraph-checkpoint-sqlite
psycopg
psycopg-pool
psycopg[binary]
asyncpg
langgraph-checkpoint-postgres
supabase
aiofiles
aiosqlite
pypdf2
pdfplumber
reportlab
rich
twilio
pdflatex
azure-cognitiveservices-vision-computervision
pillow
openpyxl
pandas
jinja2
bs4
python-multipart
replicate
